<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<%= form_with model: Flight.new, method: :get, url: flights_path do |form| %>
  <%= form.label :departure_airport_id %>
  <%= form.collection_select :departure_airport_id, Airport.order(:code), :id, :code %><br><br>
  <%= form.label :arrival_airport_id %>
  <%= form.collection_select :arrival_airport_id, Airport.order(:code), :id, :code %><br><br>
  <%= form.label :date %>
  <%= form.collection_select(:date, Flight.dates_with_flights, :date, :date_formatted) %><br><br>
  <%= form.label :number_of_passengers %>
  <%= form.select(:number_of_passengers, (1..4).map { |num| [num, num]}) %><br><br>
  <%= form.submit 'Search flights' %>
<% end %>

<hr>

<div id="flights">
  <% if @flights %>
    <% @flights.each do |flight| %>
      <%= render flight %>
      <p>
        <%= link_to "Show this flight", flight %>
      </p>
    <% end %>
  <% end %>
</div>

<% if false %>
<%= link_to "New flight", new_flight_path %>
<% end %>