<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<%= form_with model: Flight.new do |form| %>
  <%= form.collection_select :departure_airport_id, Airport.order(:code), :id, :code %>
<% end %>

<div id="flights">
  <% @flights.each do |flight| %>
    <%= render flight %>
    <p>
      <%= link_to "Show this flight", flight %>
    </p>
  <% end %>
</div>

<%= link_to "New flight", new_flight_path %>
