<p style="color: green"><%= notice %></p>

<h1>Flights</h1>

<%= form_with model: Flight.new, method: :get, url: flights_path do |form| %>
  <%= form.label :departure_airport_id %>
  <%= form.collection_select :departure_airport_id, Airport.order(:code), :id, :code %><br><br>
  <%= form.label :arrival_airport_id %>
  <%= form.collection_select :arrival_airport_id, Airport.order(:code), :id, :code %><br><br>
  <%= form.label :date %>
  <%= form.collection_select(:date, Flight.dates_with_flights, :date, :date_formatted) %><br><br>
  <%= form.label :number_of_passengers %>
  <%= form.select(:number_of_passengers, (1..4).map { |num| [num, num]}) %><br><br>
  <%= form.submit 'Search flights' %>
<% end %>

<hr>

<div id="flights">
  <% if @flights && @flights.length.positive? %>
    <%= form_with scope: :selected_flight, method: :get, url: new_booking_path do |form| %>
        <%= form.collection_radio_buttons :id, @flights, :id, :date do |b| %>
          <div>
            <%= b.label(:"data-value" => b.value) { b.radio_button + b.text + ": #{b.object.departure_airport.code} -> #{b.object.arrival_airport.code}" } %><br><br>
          </div>
        <% end %>
        <%= form.submit 'Make booking' %>
    <% end %>
  <% end %>
</div>
